

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.texto_nav{
    color: white;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    opacity: 0.5;

}

.texto_logo_nav{
    opacity: 1;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.carousel-item img {
    height: 100vh; 
    object-fit: cover; 
}

.contenido{
    background-color: black;
    text-align: center;
    color: white;
    height: 100vh;
}

.titulo_contenido{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: black;
    height: 100px;
    align-items: center;
}

hr {
    opacity: 0.5;
    height: 2px;
    background-color: white;
  }

.boton_parrafo{
    width: 100%;
    height: 2.4rem;
    background-color: lightblue;
    align-content: center;
    text-align: center;
}

