

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.texto_nav{
    color: white;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    opacity: 0.5;
}

.texto_logo_nav{
    opacity: 1;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.carousel-item img {
    height: 100vh; 
    object-fit: cover; 
}

.contenido{
    background-color: black;
    text-align: center;
    color: white;
}