

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.texto_navbar{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: aliceblue;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.carousel-item img {
    height: 50vh; 
    object-fit: cover; 
}